/**
Mise en page généra;e avec display:grid
*/
.site{
  max-width: 100vw;
  overflow-x: hidden;
}
.site__entete {
  grid-area: header;
}

.site__main {
  grid-area: main;
  // overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  background-color: #ffffff;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  // padding-left: 10px;
  // padding-right: 10px;
}

.site__aside {
  grid-area: aside;
  background-color: #011526;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  h3 {
    color: #ffffff;
    display: inline;
    text-align: center;
    font-size: 1.3rem;
    @media screen and (min-width: $largeur__tablette) {
      font-size: 1.4rem;
    }
    @media screen and (min-width: $largeur__tablette) {
      font-size: 2rem;
    }
  }
  li {
    list-style: none;
    display: flex;

    a{
      padding-bottom: 2rem;
      color: #fff2f2;
    }

  }

}

.site__footer {
  grid-area: footer;
}

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  overflow-x: hidden;

  @media screen and (min-width: $largeur__bureau) {
    grid-template-columns: auto 20%;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

}

.no-aside {
  grid-template-areas:
  "header"
  "main"
  "footer";

  @media screen and (min-width: $largeur__bureau) {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

}
