.custom-background {  
  background: transparent;
  content: "";
}
.site__erreur {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.803);


  h1 {
    color: rgb(16, 16, 16);
    font-size: 5rem;
    display: inline;
  }

  .menu-cours-container, .menu-note-4w4-container {
    .menu {
      display: flex;
      flex-direction: row;
    }

    .menu-item {
      list-style: none;

      a {
        flex-direction: row;
        align-items: center;
        margin: 0 1rem 0 1rem;
        color: rgb(24, 24, 24);
      }

      code {
        font-weight: initial;
        // color: rgb(255, 255, 255);
      }

      p {
        color: rgb(24, 24, 24);
        padding-left: 5px;
      }

    }

  }


}