.recherche {
  padding: 10px 10px 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3px;
  margin-bottom: 5px;

  .barre__recherche {
    display: none;

    .recherche__input {
      border: none;
      background-color: #252422;
      color: #fffcf2;
      padding: 1rem;
      border-radius: 10px;
    }

    .recherche__input::placeholder {
      color: rgb(255, 255, 255);
    }
    
    .recherche__input:focus{
      outline: none;
    }

    // input::-webkit-search-cancel-button { //pour enlever le x dans la barre de recherche
    //   // -webkit-appearance: none;
    //   // content: URL();
    //   // cursor: pointer;
    //  }

  }

  .recherche__icone {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ccc5b9;

  }

  .recherche__icone:hover {
    background-color: #f9f4e4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

}

.check {
  display: none;
}

.check:checked + .barre__recherche { //si le checkbox est checker
  display: flex;
}
