.recherche {
  display: flex;
  align-items: center;
  gap: 3px;

  .barre__recherche {
    opacity: 0;
    transition: opacity 1s;
  
    .recherche__input {
      border: none;
      background-color: #514B23;
      color: rgb(255, 255, 255);
      padding: 1rem;
      border-radius: 5px;
    }

    .recherche__input::placeholder {
      color: rgb(255, 255, 255);
    }
    .recherche__input:focus{
      outline: none;
    }
    input::-webkit-search-cancel-button { //pour enlever le x dans la barre de recherche
      -webkit-appearance: none;
      content: URL();
      cursor: pointer;
     }

  }

  .recherche__icone {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid #514B23;
  }

  .recherche__bouton:hover {
    background-color: #cfcfcf;

  }

}

.check {
  display: none;
}

.check:checked + .barre__recherche { //si le checkbox est checker
  opacity: 1;
}
