.recherche {
  padding: 10px 10px 10px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  opacity: 0.7;

  .barre__recherche {

    .recherche__input {
      border: none;
      background-color: #252422;
      color: #fffcf2;
      padding: 0.5rem;

      @media screen and (min-width:$largeur__bureau) {
        width: 200px;
      }
      
    }

    .recherche__input::placeholder {
      color: rgb(255, 255, 255);
    }
    
    .recherche__input:focus{
      outline: none;
      background-color: #252422;
    }

  }
  .btn__recherche {
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
    padding: 0.5rem;
    background-color: #252422;
    border-radius: none;
  }


}

.check {
  display: none;
}

