.blocflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // min-height: 100vh; //ENLEVER LE COMMENTARIRE
  min-height: 10vh; //METTRE EN COMMENTARIRE

  /***************************** les articles*/
  &__article{
    flex: 1 0 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    background-color: #252422;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all ease 1s;
    cursor: pointer;

    h5 {
      font-size: 1rem;
      color: #fffcf2;
      @media screen and (min-width:$largeur__bureau) {
        font-size: 1.2rem;
      }

    }

    h6 {
      font-size: 1.1rem;
      color: #fffcf2;
      @media screen and (min-width:$largeur__bureau) {
        font-size: 1.3rem;
      }

    }

    p {
      color: #dddddd;
    }

    /***************************** figure*/
    .blocflex__figure {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      img {
        display: block;
        // width: 150px;
      }

    }

  }
  
  &__article:hover {
    background-color: #403d39;
  }

  /***************************** la galerie*/
  &__galerie {
    flex: 1 0 100%;
  }

}
