.site__entete{ // entete du site
  // display: flex;
  // flex-direction: column;

  /* ///////////////////////////////////// entete barre de navigation */
  .entete__nav { // barre de navigation
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fffcf2;
    padding: 0 10px 0 10px;

    .nav__logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .custom-logo-link img { // logo
        width: 85px;
        height: auto;
      }

      // @media screen and (min-width: $largeur__bureau) {
      //   flex-direction: row;
      // }
    }
    .menu__nav{
      display: flex;
      align-items: center;

      /* ////////////////////////////// menu entete */
      .menu__entete { // nav
        display: none;

        .menu { // ul
          display: flex;
          list-style-type: none;
          justify-content: flex-end;
          padding-right: 20px;
          gap: 1.2rem;
          padding: 10px;
    
          .menu-item { // li 
            a {
              padding : 3px 5px;
              text-decoration: none;
              color: #252422;
              font-size: 1.2rem;
              font-weight: bold;
            }
          }
          // .menu-item::before { // si decoration personnaliser
          //   content: "";
          //   background: transparent;
          //   border-radius: 0;
          //   padding-inline: 0;
          //   margin-inline-end: 0;
          // }
        }
    
      }

      /* ////////////////////////////// bouton burger */
      .bouton__burger,
      .bouton__burger::before,
      .bouton__burger::after {
        display: block;
        background-color: rgb(255, 115, 0);
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }

      .bouton__burger::before {
        content: '';
        margin-top: -8px;
      }

      .bouton__burger::after {
        content: '';
        margin-top: 8px;
      }

      #cc__bouton__burger {
        display: none;
      }
      #cc__bouton__burger:checked ~ .menu__entete {
        display: flex;
      }

      // menu burger checker
      #cc__bouton__burger:checked + .bouton__burger__conteneur .bouton__burger::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      #cc__bouton__burger:checked + .bouton__burger__conteneur .bouton__burger {
        background: rgba(255, 255, 255, 0);
        margin-top: 20px;
      }
      #cc__bouton__burger:checked + .bouton__burger__conteneur .bouton__burger::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }

    }

  }

  // .menu__entete { // nav

  //   .menu { // ul
  //     display: flex;
  //     list-style-type: none;
  //     justify-content: flex-end;
  //     padding-right: 20px;
  //     gap: 1.2rem;
  //     padding: 10px;

  //     .menu-item { // li 
  //       a {
  //         padding : 3px 5px;
  //         text-decoration: none;
  //         color: #252422;
  //         font-size: 1.2rem;
  //         font-weight: bold;
  //       }
  //     }

  //     .menu-item::before {
  //       content: "";
  //       background: transparent;
  //       border-radius: 0;
  //       padding-inline: 0;
  //       margin-inline-end: 0;
  //     }

  //   }

  // }

  /* ///////////////////////////////////// titre entete */

  .site__titre { // titre principale
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
    margin: 0;

    a {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      justify-content: center;
      background-color: #252422;
      padding: 15px 0 15px 0;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

  }

  .site__sous__titre { // titre slogan
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 20px;
    color: #403d39;
    background-color: #ccc5b9;
  }

}