.site__entete{ // entete du site

  /* ///////////////////////////////////// entete barre de navigation */
  .entete__nav { // barre de navigation
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fffcf2;

    @media screen and (min-width : $largeur__bureau) {
      flex-direction: row;
    }
    
    .menu__logo { // logo dans entete
      align-self: flex-start;

      .custom-logo-link img { // logo
        width: 85px;
        height: auto;
        padding-top: 10px;

        @media screen and (min-width : $largeur__bureau) {
          padding-left: 20px;
        }

      }

    }

    .menu__nav__recherche { // nav avec bouton burger et recherche
      display : flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      background-color: #ccc5b9;
      border-left: 3px solid #a39a8a;


      @media screen and (min-width : $largeur__bureau) {
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          padding-top: 10px;
          border-left: none;
          background-color: #fffcf2;
      }

      /* ////////////////////////////// menu entete */
      .menu__entete { // nav
        display: none;
        @media screen and (min-width : $largeur__bureau) {
          display: flex;
        }

        .menu { // ul
          display: flex;
          list-style-type: none;
          flex-direction: column;
          padding-right: 20px;
          gap: 1.2rem;
          padding: 10px;
          top: 3rem;
          right:0;

          @media screen and (min-width:$largeur__bureau) {
            position : static;
            top: auto;
            right:auto;
            flex-direction: row;
            transform : translateX(0);
        }
    
          .menu-item { // li
            a {
              padding : 3px 5px;
              text-decoration: none;
              color: #252422;
              font-size: 1.2rem;
              font-weight: bold;
              transition: color 1s ease;
            }

            a:hover {
              color: #e19600;
            }

          }

        } // FIN ul

        div .barre__recherche{
          align-self: flex-end;
        }
    
      } // FIN navigation

      /* ////////////////////////////// bouton burger */

      #cc__bouton__burger {
        display: none;
      }

      .bouton__burger__conteneur {
        padding: 20px;

        @media screen and (min-width:$largeur__bureau) {
          display: none;
        }

      }
      .bouton__burger__conteneur div {
        position: relative;
        top: 0;
        height: 5px;
        background-color: #252422;
        margin-bottom: 6px;
        transition: 0.3s ease;
        border-radius: 2px;
      }

      .bouton__burger__conteneur div:first-child {
        transform-origin: 0;
      }
      .bouton__burger__conteneur div:last-child {
        margin-bottom: 0;
        transform-origin: 60px;
      }
      .bouton__burger__conteneur div:nth-child(2) {
        right: 0;
        width: 30px;
      }

      // menu burger checker
      #cc__bouton__burger:checked ~ .menu__entete {
        display: flex;
      }

    } // FIN nav avec bouton burger

  } // FIN barre de navigation

  /* ///////////////////////////////////// titre entete */

  .site__titre { // titre principale
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
    margin: 0;

    a {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      justify-content: center;
      background-color: #252422;
      padding: 15px 0 15px 0;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

  }

  .site__sous__titre { // titre slogan
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 20px;
    color: #403d39;
    background-color: #ccc5b9;
  }

} // FIN site entete


