.site__footer { // pied de page du site
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: white;
  background-image: linear-gradient(to bottom, #02595989, #012e40);
  // border-top: 2px solid #000c24;

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 5px 30px;

    @media screen and (min-width: $largeur__bureau) {
      flex-direction: row;
      align-items: flex-start;

    }
  }


  h4{
    color: #ffffff;
    font-size: 1.3rem;
  }

  .footer__logo { // logo
    .custom-logo-link img { // image logo
      width: 85px;
      height: auto;
    }
  }

  div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .menu__footer { // lien et menu du footer
    li {
      list-style-type: none;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      @media screen and (min-width: $largeur__bureau) {
        flex-direction: row;
      }

      a {
        color: #ffffff;
        font-size: 0.9rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all .5s ease;
      }
      a:hover {
        color: #038C65;
      }

    }
  }

  .social__media {


    .menu {
      list-style: none;
      display: flex;

      li {
        padding-right: 10px;
      }

    }

    img {
      width: 40px;
      height: auto;
    }

  }
  .widget {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: $largeur__bureau) {
      flex-direction: row;
      align-items: flex-start;

    }
    // .footer__col {
    //   .sidebar {

    //   }
    // }
  }
} //  fin du pied de page
