  main {
    background-color: #CBD0B9;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  main h1 {
    color: #656839;
    background-color: white;
    padding: 5px 80px 5px 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
  main a {
    text-decoration: none;
    color: white;
  }
  main p {
    text-decoration: none;
    color: #514B23;
  }

  article {
    background-color: #BDDBD0;
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
  }

  article:hover {
    background-color: #7b7442;

    p{
      color: white;
    }
    
  }