.menu__evenements { // nav
  // background-color: white;

  .menu { // ul
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 10px;

    @media screen and (min-width:$largeur__bureau) {
      flex-direction: row;
    }

    .menu-item { // li
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 2px solid #33415C;
      background-color: #ffffff;
      min-height: 100px;
      margin: 10px;
  
      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: #001233;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .title {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .description {
          font-size: .8rem;
          padding-bottom: 5px;
        }

        .menu-thumbnail {
          display: block;
          
          width: 150px;
          height: 150px;
        }

      }

    }

  }

}