.menu__evenements { // nav
  background-color: transparent;

  .menu { // ul
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 10px;

    @media screen and (min-width:$largeur__bureau) {
      flex-direction: row;
    }

    .menu-item { // li
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 2px solid rgb(201, 201, 201);
      background-color: rgb(239, 239, 239);
      min-height: 100px;
      margin: 10px;
  
      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .title {
          font-size: 1.5rem;
        }

        .description {
          font-size: .8rem;
        }

        .menu-thumbnail {
          display: block;
          width: 150px;
          height: 150px;
        }

      }

    }

  }

}