.menu__evenements { // nav
  // background-color: white;

  .menu { // ul
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 10px;

    @media screen and (min-width:$largeur__bureau) {
      flex-direction: row;
    }

    .menu-item { // li
      display: flex;
      flex-direction: column;
      justify-content: end;
      min-height: 300px;
      min-width: 350px;
      margin: 10px;
      position: relative;

      img:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }
  
      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        span{
          background-color: rgba(0, 0, 0, 0.368);
          width: 100%;
        }
        
        .title {
          color: #ffffff;
          font-size: 1.5rem;
          z-index: 2;
        }

        .description {
          color: #ffffff;
          font-size: .8rem;
          padding-bottom: 5px;
          z-index: 2;
        }

        .menu-thumbnail {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
        }

      }

    }

  }

}