.recherche__section {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;

  article {
    flex: 1 0 250px;
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    background-color: #252422;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all ease 1s;
    cursor: pointer;
    color: #fffcf2;

    a {
      text-decoration: none;
      font-size: 1rem;
      color: #fffcf2;
    }

  }
  article:hover {
    background-color: #403d39;
  }

}