.site__main{

  .dans__article {
    background-color: #fffcf2;
    border-top: 1px solid #ccc5b9d7;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    max-width: 100vw;
    overflow-x: hidden;

    div{ // thumbnail et h3
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
      color: #012E40;
      font-size: 1.8rem;

      @media screen and (min-width:$largeur__bureau) {
        font-size: 2rem;
      }
    }

    h2 {
      background-color: #025959;
      color: #fffcf2;
    }
    
    h4 {
      text-align: center;
    }
    ul{
      padding-left: 2rem;
    }
    p {
      padding-left: 10px;
      text-align: center;
    }

  }
  
}