.site__main{

  .dans__article {
    background-color: #fffcf2;
    border: 1px solid #ccc5b9;
    padding: 1rem;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // min-height: 50%;

    h3 {
      color: #403d39;
    }

    h2 {
      background-color: #403d39;
      color: #fffcf2;
    }

  }
  
}