$couleur__principale: #252422;
$couleur__secondaire: #eb5e28;
$couleur__trois: #403d39;
$couleur__quatre: #ccc5b9;
$couleur__cinq: #fffcf2;
$couleur__texte1: #ffffff;
$couleur__texte2: #000000;


// $couleur__principale: #3E78B2;
// $couleur__secondaire: #004BA8;
// $couleur__titre: #4A525A;
// $couleur__sous_titre: #24272B;
// $couleur__texte: #07070A;

// $couleur__principale: #363636;
// $couleur__secondaire: #242F40;
// $couleur__titre: #CCA43B;
// $couleur__sous_titre: #E5E5E5;
// $couleur__sous_titre: #ffffff;
// $couleur__texte: #000000;
