// $couleur__principale: #252422;
// $couleur__secondaire: #eb5e28;
// $couleur__trois: #403d39;
// $couleur__quatre: #ccc5b9;
// $couleur__cinq: #fffcf2;
// $couleur__texte1: #ffffff;
// $couleur__texte2: #000000;

$couleur__principale: #00A6FB;
$couleur__secondaire: #0582CA;
$couleur__trois: #006494;
$couleur__quatre: #003554;
$couleur__cinq: #051923;

$couleur__texte1: #ffffff;
$couleur__texte2: #000000;

