// $couleur__principale: #333333;
// $couleur__secondaire: #48E5C2;
// $couleur__titre: #FCFAF9;
// $couleur__sous_titre: #5E5E5E;
// $couleur__texte: #F3D3BD;

// $couleur__principale: #3E78B2;
// $couleur__secondaire: #004BA8;
// $couleur__titre: #4A525A;
// $couleur__sous_titre: #24272B;
// $couleur__texte: #07070A;

$couleur__principale: #363636;
$couleur__secondaire: #242F40;
$couleur__titre: #CCA43B;
$couleur__sous_titre: #E5E5E5;
$couleur__texte: #FFFFFF;
