/* Les balise qu'on utilse dans la conversion des fichiers markdown */

/* Liste */
ul,ol{
  background-color: white;
  padding: 10px;
  list-style-type: none;
}

ul > li,
ol > li{
  color: rgb(255, 19, 19);
}

ul>li {}

ol>li{}

/* ----------------------------  pre */

pre {
  background-color: black;
  color: white;
}

code {}

i{}

blockquote {}

hr {}

strong {}




