/* Les balise qu'on utilse dans la conversion des fichiers markdown */

/* Liste */
ul,ol{
  background-color: white;
  margin: 0rem 0rem;
  padding: 7px;
  font-size: 1.1rem;
  color: #656839;
  font-family: 'Roboto', sans-serif;

  @media screen and (min-width: 400px) {
    margin: 1rem 0.5rem;
    padding: 10px;
  }

  @media screen and (min-width: 700px) {
    margin: 1rem 0.5rem;
    padding: 13px;
  }

}

// ul li::before {
//   content: "☀";
//   background: rgb(0, 0, 0);
//   border-radius: .5rem;
//   padding-inline: .3rem;
//   margin-inline-end: .3rem;
// }
// ul li li::before
// {
//   background: transparent;
// }

ul > li,
ol > li{
  margin: 0.5rem 0rem;
}

// ul>li {}
// ol>li {}

/* ----------------------------  pre */
// code {}

pre {
  background: #312e14;
  color: white;
  overflow-x: scroll;
}

pre::-webkit-scrollbar {
  background-color: #BDDBD0;
}
pre::-webkit-scrollbar-thumb {
  background-color: #656839;
  // outline: 10px solid rgb(0, 0, 0);
}

hr {
  display: none;
}

strong {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

// i{}

// blockquote {}







